<nav class="navbar pale-lime shadow-bottom">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapsable navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelectedLink('recipies')">Recipes</a></li>
                <li><a href="#" (click)="onSelectedLink('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li appDropdown class="dropdown">
                    <a href="#" class="dropdown-toggle">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>