<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 180px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage Receipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingridients
    </div>
</div>