<h2>SHOPPING LIST</h2>
<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingredientAdded)="onIngridientAdded($event)"></app-shopping-edit>
        <hr class="hr-gray">
        <div class="list-group">
            <a class="list-group-item" style="cursor: pointer"
               *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </div>
    </div>
</div>
