<app-header (selectedLink)="onNavigate($event)"></app-header>
<!-- $event gives access to data passed from header.component.ts-->
<div class="container pale-lime shadow-bottom">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="loadedLink === 'recipies'"></app-recipes>
            <app-shopping-list *ngIf="loadedLink !== 'recipies'"></app-shopping-list>
        </div>
    </div>
</div>
