.pale-lime {
    background: #ddffcc;
}

.container.pale-lime {
    padding-bottom: 50px;
}

.shadow-bottom {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

hr.hr-gray {
    border-top: 1px solid #e1e1e1;
}